services:
  lgtm:
    image: docker.io/grafana/otel-lgtm:latest
    restart: unless-stopped
    networks:
      - hbnet
    ports:
      - '3000:3000'
      - '4317:4317'
      - '4318:4318'
    environment:
      KAFKA_LISTENERS: CONTROLLER://localhost:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: HOST://localhost:9092,DOCKER://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,HOST:PLAINTEXT,DOCKER:PLAINTEXT
      
networks:
  hbnet:
    external: true
